<footer id="footer">
  <ul>
    <li><a href="{{ site.spotify_link }}">SPOTIFY</a></li>
    <li><a href="{{ site.spotify_link }}">BANDCAMP</a></li>
    <li><a href="{{ site.itunes_link }}">ITUNES</a></li>
    <li><a href="{{ site.pandora_link }}">PANDORA</a></li>
    <li><a href="{{ site.youtube_link }}">YOUTUBE</a></li>
    <li><a href="{{ site.facebook_link }}">FACEBOOK</a></li>
    <li><a href="{{ site.twitter_link }}">TWITTER</a></li>
    <li><a href="{{ site.instagram_link }}">INSTAGRAM</a></li>
  </ul>
</footer>
