<head>
  <!--Meta Data-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">

  <!--Stylesheets-->
  <link rel="stylesheet" href="{{ "{{ site.url }}/css/bootstrap.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "assets/font-awesome/css/font-awesome.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "assets/main.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700|PT+Sans:400,400i" rel="stylesheet">
</head>
