#intro_txt {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 35%;
  margin: 5%;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

#home_background {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#footer {
    background: #222;
    padding: 50px;
}
#footer ul {
    display: flex;
    justify-content: space-between;
}
#footer ul li {
    color: white;
    list-style: none;
}
#footer ul a {
    color: white;
}
#footer ul a:hover {
    color: #999;
    text-decoration: none;
}
.icon_holder ul {
    display: flex;
    position: absolute;
    top: 55%;
    margin: 15px;
}
.icon_holder ul li {
    list-style: none;
    padding: 15px;
}
.icon_holder ul li a {
    color: black; 
}
.bandcamp_logo {
    height: 1em;
}